/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(rgb(220, 223, 226), rgb(82, 151, 215)), url(solarpan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000000;
    padding: 20px;
}

/* Navbar Styling */
.navbar {
    background: #1c66df;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    flex-shrink: 0;
}

.logo img {
    max-width: 50px;
    margin: 0;
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 14px 25px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: black;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: all 0.3s;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .logo {
        display: none; /* Hide the logo on smaller screens */
    }

    .hamburger {
        display: flex;
        margin-left: auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 40px;
        left: 0;
        width: auto;
        background-color: #1c66df;
        text-align: left;
        padding-left: 0px;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Form Container */
.form-container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(128, 128, 128);
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 15px;
    color: #1c66df;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form-group textarea {
    resize: vertical;
}

.submit-button {
    background-color: #1c66df;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #1553a8;
}
